#section-hero {
    height: 100vh;
    width: 100%;
}

// #section-hero {
//     height: calc(100vh - $navbar-height);
//     width: 100%;
//     background-image: url('../../img/landing-header.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

#section-about {
    height: 100%;
    width: 100%;
}

// #section-blogDetail {
//     padding: 6rem;
// }
