.aboutHeader {
    max-width: 100%;
    height: 60vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(0,0,0, 0.6),
        rgba(0,0,0, 0.6)),
        url('../../img/about-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogHeader {
    max-width: 100%;
    height: 60vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(0,0,0, 0.6),
        rgba(0,0,0, 0.6)),
        url('../../img/blog-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-wrapper {
    position: relative;
    padding-bottom: 56.2%;
  }

.image-wrapper img {
position: absolute;
object-fit: cover;
width: 100%;
height: 100%;
}
